{% extends "game_layout.html.twig" %}

{% block title %}
    {{ status_code }} {{ status_text }}
{% endblock %}

{% block content %}

    <div class="container-fluid">

        <h2>{{ status_code }} {{ status_text }} !</h2>
        <h3>Vous avez emprunté un chemin bien trop dangereux !</h3>

        <div class="row text-center">
            <img src="{{ asset('front/img/monster-404.jpg') }}" alt="Attaque d'un monstre" id="monster-404"/>
        </div>

        <div class="row text-center">
            <p><a href="{{ path('game_index') }}">Rebrousser chemin...</a></p>
        </div>

    </div>

{% endblock %}
