{% extends "game_layout.html.twig" %}

{% block title %}
    {{ status_code }} {{ status_text }}
{% endblock %}

{% block content %}

    <div class="container-fluid">

        <h2>{{ status_code }} {{ status_text }} !</h2>
        <h3>Etat du serveur : Game Over !</h3>

        <div class="row text-center">
            <img src="{{ asset('front/img/error-500.jpg') }}" alt="Server dead" id="monster-404"/>
        </div>

    </div>

{% endblock %}