{% extends "game_layout.html.twig" %}

{% block title %}
    {{ 'title.sell-resource'|trans }}
{% endblock %}

{% block description %}
    {{ 'description.add_resource'|trans }}
{% endblock %}

{% block content %}

    <div class="fluid-container">

        <h2>{{ 'title.sell-resource'|trans }}</h2>

        <div class="col-md-3 col-md-offset-4">
            <form action="{{ path('game_market_sale') }}" method="post" class="contact-form">
                {{ form_errors(form.quantity) }}
                <div class="row">
                    <div class="col-md-12">
                        {{ form_label(form.resource, "Resource à vendre :") }}

                        {{ form_widget(form.resource, {'attr': {'class': 'form-control'}}) }}<br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ form_label(form.quantity, "Quantité :") }}

                        {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}<br>
                    </div>
                </div>

                <div class="row">
                    <button type="submit" class="btn">{{ 'title.sell-at-market'|trans }}</button>
                </div>

                {{ form_rest(form) }}
            </form>
        </div>
    </div>

{% endblock %}