{% extends "game_layout.html.twig" %}

{% block title %}
    {{ 'title.battle'|trans }}
{% endblock %}

{% block description %}
    {{ 'description.battle'|trans }}
{% endblock %}

{% block content %}

    <div class="container">

        <h2>{{ 'title.battle'|trans }}</h2>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">{{ 'title.pseudo'|trans }}</th>
                <th scope="col">{{ 'menu.kingdom'|trans }}</th>
                <th scope="col">{{ 'title.region'|trans }}</th>
                <th scope="col">{{ 'title.online'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for key,player in players %}
                <tr>
                    <td class="features-p">{{ player.username }}</td>
                    <td class="features-p">{{ player.kingdom.name }}</td>
                    <td class="features-p">{{ player.kingdom.region.id }} - {{ player.kingdom.region.name }}</td>
                    <td class="features-p"><a href="/strategie/bataille/{{ player.id }}" class="btn">Attaquer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}