{% extends 'game_layout.html.twig' %}

{% block content %}

    <div class="container">

        <h2>{{ 'title.game-rules'|trans }}</h2>

        <ul>
            <li><a href="#regions">{{ 'title.regions'|trans }}</a> </li>
            <li><a href="#buildings">{{ 'title.buildings'|trans }}</a> </li>
            <li><a href="#resources">{{ 'title.resources'|trans }}</a> </li>
        </ul>

        <div class="row" id="regions">
            <h3>{{ 'title.regions'|trans }}</h3>

            <p class="section-description">
                {{ 'game-rules.regions-description'|trans }}
            </p>
        </div>
        <div class="row">
            {% for region in regions %}
                <p>{{ region.name }} : <span class="panel-item__summary">{{ region.description }}</span></p>
            {% endfor %}
        </div>

        <div class="row" id="buildings">
            <h3>{{ 'title.buildings'|trans }}</h3>

            <p class="section-description">
                {{ 'game-rules.buildings-description'|trans }}
            </p>
        </div>
        <div class="row">
            {% for building in buildings %}
                <p>{{ building.name }} : <span class="panel-item__summary">{{ building.description }}</span></p>
            {% endfor %}
        </div>

        <div class="row" id="resources">
            <h3>{{ 'title.resources'|trans }}</h3>

            <p class="section-description">
                {{ 'game-rules.resources-description'|trans }}
            </p>
        </div>

        <table class="table-condensed">
            <thead>
            <tr>
                <th>{{ 'title.buildings'|trans }}</th>
                <th>{{ 'title.produced-resources'|trans }}</th>
            </tr>
            </thead>
            <tbody>
                {% for buildingResource in buildingsResources %}

                    {% if buildingResource.production %}
                        <tr>
                            <td><span class="panel-item__summary">{{ buildingResource.building.name }}</span> => </td>
                            <td><span class="panel-item__summary">{{ buildingResource.resource.name }}</span></td>
                        </tr>
                    {% endif %}

                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}