{% extends "game_home_layout.html.twig" %}

{% block title %}
    {{ 'title.game_description'|trans }}
{% endblock %}

{% block description %}
    {{ 'description.game'|trans }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <h3>Joueurs connectés</h3>
            <h4 class="modal-title" id="myModalLabel">{{ countPlayersConnected }}</h4>
        </div>
        <div class="col-md-4">
            <h3>Joueurs inscrits</h3>
            <h4 class="modal-title" id="myModalLabel">{{ totalPlayers - 2 }}</h4>
        </div>
    </div>

    <h2>{{ 'title.title-game'|trans }}</h2>

    <p class="section-description">
        {{ 'home.scenario'|trans }}
    </p>
{% endblock %}