{% extends "game_layout.html.twig" %}

{% block title %}
    {{ 'menu.kingdom'|trans }}
{% endblock %}

{% block description %}
    {{ 'description.kingdom'|trans }}
{% endblock %}

{% block content %}

    <div class="fluid-container">

        <h2>{{ app.user.kingdom.name }}</h2>
        <h3>{{ 'title.gold'|trans }} : {{ app.user.kingdom.gold }}</h3>


        <div class="col-md-6 col-md-offset-1">
            <div class="row">
                <div class="col-md-6"><h3>{{ 'title.buildings'|trans }}</h3></div>
            </div>

            <div class="row">
                <div class="col-md-10 panel-item__summary justify-content-md-start">

                    <div class="row">
                        <div class="col-md-5">
                            <a href="{{ path('game_building_build') }}" class="btn">{{ 'button.build'|trans }}</a>
                        </div>
                    </div>

                    <h4>{{ 'title.kingdom-buildings'|trans }}</h4>

                    {{ form_start(formBuilding, {'attr': {'class': 'contact-form'}}) }}

                    {% for kingdomBuilding in formBuilding.KingdomBuildings %}
                        <div class="row">
                            <div class="col-sm-12 building-icon">
                                <div class="col-md-4" id="name-building">
                                    <div class="row col-md-offset-1 building_row">
                                        <div class="col-md-offset-1">
                                            {{ 'title.building'|trans }} :
                                        </div>
                                        <div class="col-md-10">
                                            {{ form_widget(kingdomBuilding.building, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4" id="level-building">
                                    <div class="row col-md-offset-1 level_row">
                                        <div class="col-md-4">
                                            {{ 'title.level'|trans }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_widget(kingdomBuilding.level) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn">{{ 'button.increase'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {{ form_end(formBuilding) }}

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6"><h3>{{ 'title.resources'|trans }}</h3></div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>{{ 'title.name'|trans }}</th>
                        <th>{{ 'title.quantity'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for kingdomResource in kingdomResources %}
                    <tr>
                        <td class="resources-list">{{ kingdomResource.resource.name }}</td>
                        <td class="panel-item__summary col-md-4">{{ kingdomResource.quantity }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <a href="{{ path('game_production') }}" class="btn">{{ 'button.produce'|trans }}</a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}