{% extends "game-layout.html.twig" %}

{% block content %}

    <div class="fluid-container">

        <h2>{{ app.user.kingdom.name }}</h2>
        <h3>Pièces d'or : {{ app.user.kingdom.gold }}</h3>

        <div class="col-md-6">

            <h3>{{ 'title.buildings'|trans }}</h3>

            <div class="row">
                <div class="col-md-8 panel-item__summary justify-content-md-start">
                    <a href="{{ path('build-building') }}" class="btn">{{ 'title.build-building'|trans }}</a>

                    <h4>{{ 'title.kingdom-buildings'|trans }}</h4>

                    {{ form_start(formBuilding, {'attr': {'class': 'contact-form'}}) }}

                        {% for kingdomBuilding in formBuilding.KingdomBuildings %}

                            <div class="row">
                                <div class="col-sm-12 building-icon">
                                    <div class="col-md-3">
                                        <div class="row">
                                            {{ 'title.building'|trans }} :
                                        </div>
                                        {{ form_widget(kingdomBuilding.building, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div class="col-md-3">
                                        <div class="row">
                                            {{ 'title.level'|trans }} :
                                        </div>
                                        {{ form_widget(kingdomBuilding.level) }}
                                    </div>

                                    <div class="col-md-6">
                                        <button type="submit" class="btn">{{ 'button.increase'|trans }}</button>
                                    </div>

                                </div>
                            </div>

                        {% endfor %}

                    {{ form_end(formBuilding) }}

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>{{ 'title.resources'|trans }}</h3>

            {% for kingdomResource in kingdomResources %}
                <p>{{ kingdomResource.resource.name }} : {{ kingdomResource.quantity }}</p>
            {% endfor %}

        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <a href="{{ path('production') }}" class="btn">{{ 'button.produce'|trans }}</a>
            </div>
        </div>
    </div>

{% endblock %}