{% extends "game_layout.html.twig" %}

{% block content %}

    <div class="fluid-container">

        <h2>{{ 'menu.market'|trans }}</h2>

        <div class="col-md-4 col-md-offset-4 row">
            <div class="section-description">
                <a href="{{ path('game_sale_resource') }}" class="btn">{{ 'title.sell-resource'|trans }}</a>
            </div>
        </div>


        <div class="col-md-12">

            {% for resourceForSale in ressourcesForSale %}
                <div class="sale_resource col-md-6">
                    <h3 class="resources-list">{{ resourceForSale.kingdomResource.resource.name }}</h3>
                    <p class="section-description">Quantité : {{ resourceForSale.quantity }}<br>
                        {{ resourceForSale.kingdomResource.kingdom.name }}<br>

                        <span>{{ 'title.price'|trans }} : {{ resourceForSale.price }}</span>
                    </p>
                    <div class="col-md-6 col-md-offset-3">
                        <a href="{{ path('game_market_buy', {'id': resourceForSale.id}) }}" class="btn">{{ 'button.buy'|trans }}</a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}