{% extends 'game_layout.html.twig' %}

{% block content %}

    <div class="container">
        <h2>{{ 'messaging.title'|trans }}</h2>

        <div class="row col-md-4 col-md-offset-4" id="write-message">
            <a href="{{ path('game_messaging_write_message') }}" class="btn">{{ 'button.write-message'|trans }}</a>
        </div>

        <div class="col-md-10 col-md-offset-1">
            {% for message in messages %}
                <div class="row">
                    <div class="col-md-2">
                        <img src="{{ asset('front/img/avatars/' ~ message.sender.avatar.idAvatar ~ '.jpg') }}" id="avatar_messaging">
                    </div>
                    <div class="col-md-8 text-message messages">
                        <h3>{{ message.subject }}</h3>
                        <p>De {{ message.sender.username }} le {{ message.atDate|date("m/d/Y") }} à {{ message.atDate|date("H:i") }}</p>
                        <p class="message-body">{{ message.message }}<br>
                            <a href="{{ path('game_messaging_write_message', {'idRecipient': message.sender.id}) }}" class="btn">{{ 'button.send'|trans }}</a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}