{% extends "game_layout.html.twig" %}

{% block title %}
    {{ 'title.players-ranking'|trans }}
{% endblock %}

{% block description %}
    {{ 'description.ranking'|trans }}
{% endblock %}

{% block content %}

    <div class="container">

        <h2>{{ 'title.players-ranking'|trans }}</h2>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">{{ 'title.position'|trans }}</th>
                    <th scope="col">{{ 'title.pseudo'|trans }}</th>
                    <th scope="col">{{ 'menu.kingdom'|trans }}</th>
                    <th scope="col">{{ 'title.population'|trans }}</th>
                    <th scope="col">{{ 'title.online'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for key,player in players %}
                {%  if player.username != 'admin' %}
                <tr>
                    <th scope="row" class="features-p">{{ key+1 }}</th>
                    <td class="features-p">{{ player.username }}</td>
                    <td class="features-p">{{ player.kingdom.name }}</td>
                    <td class="features-p">{{ player.kingdom.population }}</td>
                    <td class="features-p">
                        {% if player.isOnline %}
                            <img src="{{ asset('front/img/online.png') }}"/>
                        {% else %}
                            <img src="{{ asset('front/img/offline.png') }}"/>
                        {% endif %}
                    </td>
                </tr>
                    {%  endif %}
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}