{% extends "game_layout.html.twig" %}

{% block content %}

    <div class="fluid-container">

        <h2>{{ 'menu.throne'|trans }}</h2>

        <div class="row">
            <div id="dark-window" class="col-md-4">
                <div class="row">
                    <h3 class="col-md-8">{{ app.user.kingdom.name }}</h3>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ asset('front/img/avatars/') }}{{ app.user.avatar.idavatar }}.jpg" alt="Avatar de {{ app.user.username }}" class="image_avatar"/>
                    </div>
                    <div class="col-md-6">
                        <div class="features-p">
                            {{ 'title.action-points'|trans }} : {{ app.user.actionpoints }}
                            &nbsp;<br>
                            {{ 'title.population'|trans }} : {{ app.user.kingdom.population }}
                            &nbsp;<br>
                            {{ 'title.power'|trans }} : {{ app.user.kingdom.power }}
                            &nbsp;<br>
                            {{ 'title.gold'|trans }} : {{ app.user.kingdom.gold }}
                        </div>
                    </div>
                </div>
                <p class="panel-item__summary">{{ 'title.region'|trans }} : {{ app.user.kingdom.region.name }}</p>
            </div>
            <div class="col-md-7">
                <img src="{{ asset('front/img/map-world.jpg') }}" alt="Carte du monde de Melhnor" id="map_world"/>

                <div class="row">
                    <div class="col-md-3">
                        <span class="panel-item__summary">{{ 'title.select-region'|trans }} :</span>
                    </div>
                    <div class="col-md-4">
                        <select id="list_regions" class="form-control">
                            <option selected>{{ 'title.select-region'|trans }}</option>
                        </select>
                    </div>
                </div>
                <div id="description_region"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{{ asset('front/js/map.js') }}"></script>
{% endblock %}