{% extends "game_layout.html.twig" %}

{% block title %}
    {{ 'menu.throne'|trans }}
{% endblock %}

{% block description %}
    {{ 'description.throne'|trans }}
{% endblock %}

{% block content %}

    <div class="container-fluid">

        <h2>{{ 'menu.throne'|trans }}</h2>

        <div class="row" id="throne-interface">
            <div id="dark-window" class="col-md-5">
                <div class="row">
                    <h3 class="col-md-8">{{ app.user.kingdom.name }}</h3>
                </div>


                <div class="row">
                    <div class="col-md-5">
                        <img src="{{ asset('front/img/avatars/') }}{{ app.user.avatar.idavatar }}.jpg" alt="Avatar de {{ app.user.username }}" class="image_avatar"/>
                    </div>
                    <div class="col-md-6">
                        {{ 'title.state'|trans }}
                        <div class="panel-item__summary">
                            {{ 'title.action-points'|trans }} : {{ app.user.actionpoints }}
                            &nbsp;<br>
                            {{ 'title.population'|trans }} : {{ app.user.kingdom.population }}
                            &nbsp;<br>
                            {{ 'title.power'|trans }} : {{ app.user.kingdom.power }}
                            &nbsp;<br>
                            {{ 'title.gold'|trans }} : {{ app.user.kingdom.gold }}
                        </div>
                        {{ 'title.army'|trans }}
                        <div class="panel-item__summary">
                            {% for kingdomArmy in kingdomArmys %}
                                {{ kingdomArmy.army.name }} : {{ kingdomArmy.quantity }}
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <h4>Events en cours :</h4>
                <ul>
                    {% if kingdomEvents is not empty %}
                        {% for kingdomEvent in kingdomEvents %}
                            <div class="row">
                                <li class="panel-item__summary">{{ kingdomEvent.event.name }} ({{ kingdomEvent.event.difficulty }}) : {{ kingdomEvent.damage }} points infligés
                                </li>
                                <div class="col-md-8">
                                    <a href="/strategie/event/{{ kingdomEvent.event.id }}" class="button-game">
                                        <span class="button-game-bg-left"></span>
                                        <span class="button-game-bg-mid">
                                    <span>Préparer une attaque</span>
                                    </span>
                                        <span class="button-game-bg-right"></span>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="panel-item__summary">Aucune participation à un évènement.</p>
                    {% endif %}
                </ul>

            </div>
            <div class="col-md-5">
                <h3>{{ 'title.region'|trans }}</h3>

                <div class="col-md-12 text-center">
                    <p class="panel-item__summary col-md-offset-2">{{ 'title.region'|trans }} : {{ app.user.kingdom.region.name }}</p>
                    <p class="section-description">{{ gameDate }}</p>
                    <img src="{{ asset('front/img/regions/') }}{{ app.user.kingdom.region.picture }}.png" alt="{{ app.user.kingdom.region.name }}" id="map_world"/>
                    <p id="description_region" class="panel-item__summary">{{ app.user.kingdom.region.description }}</p>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
