{% extends 'game-layout.html.twig' %}

{% block content %}

    <div class="container">

        <h2>{{ 'cgu.title'|trans }}</h2>

        <h3>{{ 'cgu.title_first_section'|trans }}</h3>
        <p class="features-p">1 - {{ 'cgu.first_section'|trans }}</p>
        <p class="features-p">2 - {{ 'cgu.second_section'|trans }}</p>
        <p class="features-p">3 - {{ 'cgu.third_section'|trans }}</p>

        <h3>{{ 'cgu.title_second_section'|trans }}</h3>
        <p class="features-p">1 - {{ 'cgu.first_second_section'|trans }}</p>
        <p class="features-p">2 - {{ 'cgu.second_second_section'|trans }}</p>
        <p class="features-p">3 - {{ 'cgu.third_second_section'|trans }}</p>
        <p class="features-p">4 - {{ 'cgu.fourth_second_section'|trans }}</p>
    </div>

{% endblock %}