{% extends "game-layout.html.twig" %}

{% block content %}

    <div class="fluid-container">

        <h2>Salle du trône</h2>

        <div class="row">
            <div id="dark-window" class="col-md-5">
                <div class="row">
                    <h3 class="col-md-8">{{ app.user.kingdom.name }}</h3>
                </div>
                <div class="row col-md-offset-1">
                    <p><img src="/web/front/img/avatars/{{ app.user.avatar.idavatar }}.jpg" alt="Avatar de {{ app.user.username }}" class="image_avatar"/></p>

                    <p class="features-p">
                        Points d'action : {{ app.user.actionpoints }}
                        &nbsp;<br>
                        Population : {{ app.user.kingdom.population }}
                        &nbsp;<br>
                        Puissance : {{ app.user.kingdom.power }}
                        &nbsp;<br>
                        Pièces d'or : {{ app.user.kingdom.gold }}
                    </p>
                </div>
            </div>
            <div class="col-md-7">
                <img src="{{ asset('front/img/map-world.jpg') }}" alt="Carte du monde de Melhnor" id="map_world" usemap="#image-map"/>

                <map name="image-map">
                    <area id="region1" class="regionMap" target="" alt="Les Gorges du Monde" title="Les Gorges du Monde" coords="158,40,124,6" shape="rect">
                    <area id="region2" class="regionMap" target="" alt="Terres dévastées d'Ethnir" title="Terres dévastées d'Ethnir" coords="167,11,206,46" shape="rect">
                    <area id="region3" class="regionMap" target="" alt="Diaphleim" title="Diaphleim" coords="259,95,262,113,247,125,241,121,198,131,183,142,161,141,155,144,129,134,137,90,120,98,92,81,76,88,78,101,90,89,103,103,115,111,108,120,79,126,61,128,52,110,43,121,29,112,29,98,18,85,26,74,29,64,44,64,49,49,61,61,88,53,118,71,130,66,156,69,185,74,193,87,190,102,180,106,174,115,197,121,221,109" shape="poly">
                    <area target="" alt="Terres de Givre" title="Terres de Givre" href="" coords="266,113,261,92,275,78,298,67,328,79,337,64,356,57,353,36,366,36,379,54,402,43,424,35,420,23,429,14,455,16,471,44,486,44,500,57,518,59,520,71,537,67,548,61,560,65,553,84,548,85,534,78,511,87,487,86,464,89,451,96,429,106,410,101,390,82,377,81,363,73,346,78,338,96,323,100,301,87" shape="poly">
                    <area target="" alt="Montagnes Blanches" title="Montagnes Blanches" href="" coords="548,88,534,81,515,88,482,88,466,93,443,104,458,103,454,116,456,125,484,134,524,126,521,109,538,106" shape="poly">
                    <area target="" alt="Contrées de Ballum" title="Contrées de Ballum" href="" coords="158,148,128,138,110,144,106,159,79,163,60,173,30,176,37,193,20,206,33,215,63,218,80,220,103,226,105,239,121,240,136,235,167,236,155,202,164,182,183,180,184,173,160,160" shape="poly">
                    <area target="" alt="Plaines Venteuses" title="Plaines Venteuses" href="" coords="523,130,485,138,445,124,426,124,406,139,406,161,420,170,432,187,417,191,411,196,416,209,430,214,431,228,410,244,444,259,488,250,517,241,547,225,577,206,598,187,607,180,578,175,565,180,541,172,526,153" shape="poly">
                    <area target="" alt="Fournaise de Nao'oïtte" title="Fournaise de Nao'oïtte" href="" coords="449,260,489,251,520,242,580,207,609,180,642,155,676,135,689,131,701,119,721,119,727,137,721,169,711,180,707,206,700,221,703,242,710,250,710,262,722,271,726,283,720,290,714,302,689,304,676,303,670,297,646,283,644,298,621,286,601,272,584,272,566,273,560,269,566,257,562,246,546,244,494,257,459,265" shape="poly">
                    <area target="" alt="Oasis de Furibonde" title="Oasis de Furibonde" href="" coords="562,275,556,269,563,258,561,249,546,247,460,267,466,277,463,290,460,297,461,305,470,309,495,298,508,299,528,293,549,296,548,285,541,276" shape="poly">
                    <area target="" alt="Var'Umhir" title="Var'Umhir" href="" coords="172,239,139,238,124,243,106,242,112,256,109,278,92,285,78,294,61,310,54,325,51,337,73,331,96,325,116,326,134,326,154,333,169,343,176,347,184,337,195,324,210,320,224,318,231,321,246,329,244,315,245,302,258,292,255,283,244,283,214,272,201,271,184,259,184,246" shape="poly">
                    <area target="" alt="Monts Brumeux" title="Monts Brumeux" href="" coords="579,306,577,321,560,328,560,340,568,349,566,365,544,359,544,350,528,345,505,345,487,357,481,374,471,384,462,375,465,366,455,361,452,347,440,338,449,329,461,323,467,312,495,302,511,302,527,296,551,299,557,305" shape="poly">
                    <area target="" alt="Contrées Bestiales" title="Contrées Bestiales" href="" coords="705,326,704,335,698,340,686,347,672,356,637,357,628,352,609,356,590,363,585,373,578,375,581,394,585,405,593,419,602,423,619,427,623,436,615,443,591,444,577,445,568,453,559,455,547,458,539,453,531,444,516,443,499,428,493,430,483,423,483,412,477,404,472,395,471,387,482,377,489,360,507,349,525,347,540,350,542,361,566,367,572,352,564,340,564,331,578,324,583,306,600,304,609,301,620,305,615,315,622,321,638,325,654,317,662,318,671,326,683,328,690,322" shape="poly">
                    <area target="" alt="Marais du Magister" title="Marais du Magister" href="" coords="203,398,193,397,186,390,185,373,179,362,177,351,195,328,224,321,246,332,246,340,239,343,253,348,267,348,274,355,286,355,293,363,288,366,290,379,287,394,267,400,262,405,233,400,226,396" shape="poly">
                    <area target="" alt="Iles Royales" title="Iles Royales" href="" coords="648,69,637,64,620,73,609,67,609,53,618,37,626,21,639,22,649,33,643,41,655,47,660,59" shape="poly">
                    <area target="" alt="Bois de l'Oublie" title="Bois de l'Oublie" href="" coords="183,396,184,377,179,366,175,350,154,337,134,329,96,327,53,340,46,356,48,371,54,383,65,383,73,389,71,407,86,420,98,423,102,430,110,433,127,424,146,420,162,410,170,401" shape="poly">
                    <area target="" alt="Creux du Flot" title="Creux du Flot" href="" coords="469,387,463,406,440,413,432,423,426,434,416,435,400,429,377,438,352,429,338,410,338,394,358,375,362,355,375,351,391,346,408,344,419,339,440,340,449,350,450,361,461,368,461,374" shape="poly">
                    <area target="" alt="Terres de Feu" title="Terres de Feu" href="" coords="244,460,253,446,269,431,264,428,257,412,245,411,239,415,229,414,210,399,194,399,187,396,173,404,152,421,138,425,122,431,112,436,127,443,139,450,147,462,150,474,166,478,172,470,173,489,179,496,191,502,208,504,220,502,227,487,230,478,236,472,232,464" shape="poly">
                    <area target="" alt="Terres Immaculées" title="Terres Immaculées" href="" coords="249,460,255,448,272,432,287,441,295,459,304,444,320,452,325,465,323,481,318,489,320,512,309,520,295,518,283,509,281,491,274,483,272,464,266,459" shape="poly">
                    <area target="" alt="Craches-Feu" title="Craches-Feu" href="" coords="550,533,531,531,513,528,478,524,457,522,434,514,425,511,423,498,432,494,442,489,464,492,471,499,481,496,493,504,514,497,526,511,541,519,553,523" shape="poly">
                    <area target="" alt="Les Damnides" title="Les Damnides" href="" coords="625,439,619,445,579,447,573,455,547,461,560,482,594,497,608,498,619,494,634,491,663,501,701,503,711,494,738,494,748,480,763,469,776,467,775,457,764,441,751,438,742,439,740,450,715,458,693,471,682,467,666,462,651,455,631,447" shape="poly">
                </map>
                <div id="region_description"></div>
            </div>
        </div>


    </div>

{% endblock %}