{% extends 'donjon_layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card p-6">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                        <h3>{{ 'donjon.warning-remove-messages'|trans }}</h3>

                        <div class="row">
                            <div class="col-md-5">
                                <a href="{{ path('donjon_messages') }}" class="btn btn-primary">
                                    <i class="fa fa-align-center"></i> &nbsp; {{ 'donjon.return-messages'|trans }}
                                </a>
                            </div>
                            <div class="col-md-3">
                                {{ form_start(form) }}
                                    <input type="submit" value="Supprimer" class="btn btn-danger"/>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}