<div class="row pattern-dark">
    <footer class="container footer">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <nav class="footer-nav">
                    <ul>
                        <li><a href="{{ path('game-rules') }}">Règles du jeu</a></li>
                        <li><a href="{{ path('tos') }}">{{ 'menu.tos'|trans }}</a></li>
                        <li><a href="{{ path('legal-notice') }}">{{ 'menu.legale-notice'|trans }}</a></li>
                        <li><a href="{{ path('contact') }}">{{ 'menu.contact'|trans }}</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-6">
                <nav class="social-nav">
                    <a href="{{ 'social.facebook_link'|trans }}" target="_blank"><span class="ion-social-facebook"></span></a>
                </nav>
            </div>
        </div>
        <div class="row">
            <p class="copyright">Copyright &copy; {{ 'now'|date('Y') }} Melhnor Chronicles</p>
        </div>
    </footer>
</div>