<header id="home">
    <!-- Main nav -->
    <nav class="navbar navbar-inverse navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar navbar-header">
                <a class="navbar-brand navbar-logo" href="#home"></a>
                <button type="button" class="navbar-toggle custom-toggle-btn" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                                <span class="sr-only">
                                Toggle navigation
                                </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="main-nav">
                {% if is_granted('ROLE_PLAYER') %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="plain-link"><a href="{{ path('trone') }}">{{ 'menu.throne'|trans }}</a></li>
                        <li class="plain-link"><a href="{{ path('kingdom') }}">{{ 'menu.kingdom'|trans }}</a></li>
                        <li class="plain-link"><a href="{{ path('market') }}">{{ 'menu.market'|trans }}</a></li>
                        <li class="plain-link"><a href="{{ path('messaging') }}">{{ 'menu.messaging'|trans }}</a></li>
                        <li class="plain-link"><a href="{{ path('security_logout') }}">{{ 'menu.disconnection'|trans }}</a></li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="plain-link"><a href="{{ path('home') }}">{{ 'menu.home'|trans }}</a></li>
                        <li class="plain-link"><a href="{{ path('registration') }}">{{ 'menu.registration'|trans }}</a></li>
                        <li class="plain-link"><a href="{{ path('security_login') }}">{{ 'menu.connection'|trans }}</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    <h1>
        <img onload="this.style.opacity='1';" class="big-logo" src="{{ asset('front/img/logo-MC2.png') }}" alt="Melhnor Chronicles 2">
    </h1>
</header>
